<% include ./partials/masthead %>
<body>
  <!--header starts -->
  <header>
    <!--sticky navigation starts -->
    <% include partials/navbar %>
    <!--sticky navigation ends -->
  </header>
    <!-- sidebar section starts -->
  <%= include partials/sidebar %>
  <!-- sidebar section ends -->
  <!-- index section starts -->
  <%- body -%>
  <!-- index section ends -->
  <!-- footer section starts -->
   
  <!-- footer section ends -->
  <!--start of javascripts-->
  <div class="clearfix"></div>
  <% include partials/scripts %>
  <!--end of javascripts-->
 </body>
</html>
