<% include ../partials/masthead %>
<body>
  <!--header starts -->
  <header>
    <!--sticky navigation starts -->
    <!--<% include partials/navbar %>-->
    <!--sticky navigation ends -->
  </header>
  <!-- index section starts -->
  <%= include index %>
  <!-- index section ends -->
  <!-- footer section starts -->
    <!--<% include partials/footer %>-->
    <!-- footer section ends -->
  </body>
</html>
