<!DOCTYPE html>
<html>
<body>
<div class=" container">
		  	  <form id="Fashion-form" action="/admin/update" method="post"> 
              <div class="col-lg-4">
                     <div>
                        <span>Name</span> 
						<input type="text" required class="form-control" id="Name" name="name" />
					 </div>
					 <div>
						<span>Stock</span>
					     <input /> 
					 </div>
					 <div>
						<span>Category</span>
						<input type="text" required class="form-control" id="Category" name="category" />
					 </div>
                     <div>
                        <span>brands</span>
					    <input type="text" required class="form-control" id="Brand" name="brand"/> 
					 </div>
					 <div>
					    <span>Description</span>
						<input type="text" required class="form-control" id="Desc" name="desc" />
					 </div>
					 <div>
					    <span>Sizes</span>
						<input type="text" required class="form-control" id="Size" name="size" v/>
					 </div>
					 <div>
					  <!--<input type="submit" value="submit">-->
                      <button class="large button success right">update</button>
					 </div>
					 <div class="clearfix"> </div>
				</form>
			</div>
		</div>
			</body>
			</html>