<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<div class=" container">
		  	  <form action="/admin/index" method="post"> 
		  	  </form>
		  	  <form action="/admin/index/add" method="post"> 
              <div class="col-lg-4">
						<span>Name</span>
						<input type="text" name="name"> 
					 </div>
					 <div>
						<span>Stock</span>
						<input type="text" name="stock"> 
					 </div>
					 <div>
						 <span>Category</span>
						 <input type="text" name="category"> 
					 </div>
           <div>
						 <span>Brands</span>
						 <input type="text" name="brands"> 
					 </div>
							 <div>
								<span>Description</span>
								<input type="text" name="description">
							 </div>
							 <div>
								<span>Sizes</span>
								<input type="text" name="sizes">
							 </div>
                   <button class="large button success right">Add</button>
					 </div>
					 <div class="clearfix"> </div>
				</form>
				<div class=" container">
		  	  <form action="/admin/index/update" method="post"> 
              <div class="col-lg-4">
						<span>Name</span>
						<input type="text" name="name"> 
					 </div>
					 <div>
						<span>Stock</span>
						<input type="text" name="stock"> 
					 </div>
					 <div>
						 <span>Category</span>
						 <input type="text" name="category"> 
					 </div>
           <div>
						 <span>Brands</span>
						 <input type="text" name="brands"> 
					 </div>
							 <div>
								<span>Description</span>
								<input type="text" name="description">
							 </div>
							 <div>
								<span>Sizes</span>
								<input type="text" name="sizes">
							 </div>
                   <button class="large button success right">Update </button>
							
					 </div>
					 <div class="clearfix"> </div>
				</form>

				<div class=" container">
		  	  <form action="/admin/index/delete" method="post"> 
              <div class="col-lg-4">
						<span>Name</span>
						<input type="text" name="name"> 
					 </div>
					 <div>
						<span>Stock</span>
						<input type="text" name="stock"> 
					 </div>
					 <div>
						 <span>Category</span>
						 <input type="text" name="category"> 
					 </div>
           <div>
						 <span>Brands</span>
						 <input type="text" name="brands"> 
					 </div>
							 <div>
								<span>Description</span>
								<input type="text" name="description">
							 </div>
							 <div>
								<span>Sizes</span>
								<input type="text" name="sizes">
							 </div>
                   <button class="large button success right">Delete </button>
							
					 </div>
					 <div class="clearfix"> </div>
				</form>

			</div>
</div>
</body>
</html>
			
