<% layout('admin/dashboard') -%>
    <div class=" container">
<!--inner block start here-->
<div class="inner-block">
    <div class="inbox">
        <h2>Size</h2>
       <div class="col-md-4 compose">       
        <div class="mail-profile">
          <div class="mail-pic">
            <a href="#"><img src="images/b3.png" alt=""></a>
          </div>
          <div class="mailer-name">       
              <h5><a href="#">Jenttman</a></h5>            
                 <h6><a href="mailto:info@example.com">jenttman@gmail.com</a></h6>   
          </div>
            <div class="clearfix"> </div>
        </div>
        <div class="compose-bottom">
          <ul>
            <li><a class="hilate" href="#"><i class="fa fa-inbox"> </i>Inbox</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"> </i>Sent Mail</a></li>
            <li><a href="#"><i class="fa fa-star-o"> </i>Important</a></li>
            <li><a href="#"><i class="fa fa-pencil-square-o"> </i>Drafts</a></li>
            <li><a href="#"><i class="fa fa-trash-o"> </i>Trash</a></li>
          </ul>
        </div>
       </div>      
        <div class="col-md-8 compose-right">
          <div class="inbox-details-default">
            <div class="inbox-details-heading">
              Add  Size 
            </div>
            <div class="inbox-details-body">
            <div class = "alert alert-success alert-dismissable">
   <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
      &times;
   </button>
   Please fill details to add new size
</div>
                <form  action="/admin/size/add" method="post">  
            <div>
              <span>Size</span>
            <input type="text" required class="form-control" id="Name" name="name"/>
            <input type="hidden" name="id" value="<%= id %>" />
           </div>
           <div>
              <span>Stock</span>
            <input type="text" required class="form-control" id="Stock" name="stock"/>
           </div>
           <div>
               <button class="large button success right">Add Size</button>
           </div>
           </form>
            </div>
          </div>
        </div>
      
          <div class="clearfix"> </div>     
   </div>
</div>
</div>
<!--inner block end here-->

