<!DOCTYPE html>
<html>
<body>
<div class=" container">
          <form  action="/admin/size/add" method="post">  
            <div>
              <span>Size</span>
            <input type="text" required class="form-control" id="Name" name="name"/>
           </div>
           <div>
              <span>Stock</span>
            <input type="text" required class="form-control" id="Stock" name="stock"/>
           </div>
           <div>
               <button class="large button success right">Add Size</button>
           </div>
           </div>
           </form>
           </body>
</html>