	<div class="container">
	<script src="js/responsiveslides.min.js"></script>
	<div id="top" class="callbacks_container">
		<ul class="rslides">
			<li>
				<div class="banner-text">
					<h3><b>Welcome to Jenttman</b></h3>
					<p><em>"An online fashion store exclusively for the Gentlemen."</em></p>
					<a href="#shop"> Shop Now </a>
				</div>
			</li>
		</ul>
	</div>
</div>
