
		<div class="container">
			  <script src="js/responsiveslides.min.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
			<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider">
			    <li>

						<div class="banner-text">
							<h3> Welcome to Jenttman </h3>
						  <p>An online clothing wear line exclusively for men .</p>
						  <a href="#shop"> Shop Now </a>
						</div>

				</li>
				<li>

						<div class="banner-text">
							<h3>There are many variations </h3>
						<p>An online clothing wear line exclusively for men .</p>
												<a href="single.html"> Shop Now</a>

						</div>

				</li>
				<li>
						<div class="banner-text">
							<h3>We are Jenttman</h3>
						<p>Home of Clothing for men.</p>
								<a href="single.html"> Shop Now </a>

						</div>

				</li>
			</ul>
		</div>

	</div>
	
