
		<ul>

			<li><a href="#"><img class="img-responsive" src="images/aldo1.jpeg" alt=""></a></li>
			<li><a href="#"><img class="img-responsive" src="images/zara1.jpeg" alt=""></a></li>
			<li><a href="#"><img class="img-responsive" src="images/bers1.jpeg" alt=""></a></li>
			<li><a href="#"><img class="img-responsive" src="images/pull1.jpeg" alt=""></a></li>
			<li><a href="#"><img class="img-responsive" src="images/new1.jpeg" alt=""></a></li>
			
			
		<div class="clearfix"> </div>
		</ul>
