
		<ul>
			<li><a href="#"><img class="img-responsive" src="images/aldo1.png" alt=""></a></li>
			<li><a href="#"><img class="img-responsive" src="images/bash1.jpg" alt=""></a></li>
			<li><a href="#"><img class="img-responsive" src="images/new1.png" alt=""></a></li>
			<li><a href="#"><img class="img-responsive" src="images/jack1.png" alt=""></a></li>
			<li><a href="#"><img class="img-responsive" src="images/pull1.png" alt=""></a></li>
			<li><a href="#"><img class="img-responsive" src="images/zara1.png" alt=""></a></li>
		<div class="clearfix"> </div>
		</ul>
