
		<ul>

			
			<li><a href="#"><img class="img-responsive" src="images/zara.jpg" alt=""></a></li>
			<li><a href="#"><img class="img-responsive" src="images/jack1.png" alt=""></a></li>
			<li><a href="#"><img class="img-responsive" src="images/ba.png" alt=""></a></li>
			<li><a href="#"><img class="img-responsive" src="images/aldo3.png" alt=""></a></li>
			<!--<li><a href="#"><img class="img-responsive" src="images/nw.png" alt=""></a></li>-->
			<li><a href="#"><img class="img-responsive" src="images/pull1.png" alt=""></a></li>
			


		<div class="clearfix"> </div>
		</ul>
