
			<div class="head-top">
				<div class="logo">
					<a href="/"><img src="images/logo1.png" alt=""></a>	
				</div>
		  <div class=" h_menu4">
				<ul class="memenu skyblue">
					  <li class="active grid"><a class="color8" href="/">Home</a></li>
				      <li><a class="color1" href="/">Men</a>
				      	<div class="mepanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="/category/bags">Bags</a></li>
										<li><a href="/category/caps">Caps & Hats</a></li>
										<li><a href="/category/jackets">Jackets & Coats</a></li>
										<li><a href="/category/jeans">Jeans</a></li>
										<li><a href="/category/jewellery">Jewellery</a></li>
										<li><a href="/category/jumpers">Jumpers & Cardigans</a></li>
										<li><a href="/category/leatherjackets">Leather Jackets</a></li>
										<li><a href="/category/longsleevetshirts">Long Sleeve T-Shirts</a></li>
									</ul>
								</div>
							</div>
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="/category/shirts">Shirts</a></li>
										<li><a href="/category/shoes">Shoes, Boots & Trainers</a></li>
										<li><a href="/category/shorts">Shorts</a></li>
										<li><a href="/category/suits">Suits & Blazers</a></li>
										<li><a href="/category/ties">ties</a></li>
										<li><a href="/category/sweatpants">Sweatpants</a></li>
										<li><a href="/category/swimwear">Swimwear</a></li>
										<li><a href="/category/trousers">Trousers & Chinos</a></li>
										<li><a href="/category/tshirts">T-Shirts</a></li>
										<li><a href="/category/underwear">Underwear & Socks</a></li>
										<li><a href="/category/vests">Vests</a></li>
									</ul>
								</div>
							</div>
							<div class="col1">
								<div class="h_nav">
									<h4>Popular Brands</h4>
									<ul>
										<li><a href="/category/levis">Levis</a></li>
										<li><a href="/category/persol">Persol</a></li>
										<li><a href="/category/Nike">Nike</a></li>
										<li><a href="/category/Edwin">Edwin</a></li>
										<li><a href="/categorys/new">New Balance</a></li>
										<li><a href="/category/jack">Jack & Jones</a></li>
										<li><a href="/category/paul">Paul Smith</a></li>
										<li><a href="/category/ray">Ray-Ban</a></li>
										<li><a href="/category/wood">Wood Wood</a></li>
									</ul>
								</div>
							</div>
						  </div>
						</div>
					</li>
				<li><a class="color6" href="#contact">Contact</a></li>
			  </ul>
			</div>

				<div class="clearfix"> </div>
		</div>
