
			<div class="head-top">
				<div class="logo">
					<a href="/"><img src="images/logo1.png" alt=""></a>
				</div>
		  <div class=" h_menu4">
				<ul class="memenu skyblue">
					  <li class="active grid"><a class="color8" href="#">Home</a></li>
				      <li><a class="color1" href="#">Categories</a>
				      	<div class="mepanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="/category/bags">Bags</a></li>
										<li><a href="/category/caps">Caps & Hats</a></li>
										<li><a href="/category/jackets">Jackets & Coats</a></li>
										<li><a href="/category/jeans">Jeans</a></li>
										<li><a href="/category/jewellery">Jewellery</a></li>
										<li><a href="/category/jumpers">Jumpers & Cardigans</a></li>
										<li><a href="/category/leatherjackets">Leather Jackets</a></li>
										<li><a href="/category/longsleevetshirts">Long Sleeve T-Shirts</a></li>
									</ul>
								</div>
							</div>
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="/category/shirts">Shirts</a></li>
										<li><a href="/category/shoes">Shoes, Boots & Trainers</a></li>
										<li><a href="/category/shorts">Shorts</a></li>
										<li><a href="/category/suits">Suits & Blazers</a></li>
										<li><a href="/category/ties">Ties</a></li>
										<li><a href="/category/sweatpants">Sweatpants</a></li>
										<li><a href="/category/swimwear">Swimwear</a></li>
										<li><a href="/category/trousers">Trousers & Chinos</a></li>
										<li><a href="/category/tshirts">T-Shirts</a></li>
										<li><a href="/category/underwear">Underwear & Socks</a></li>
										<li><a href="/category/vests">Vests</a></li>
									</ul>
								</div>
							</div>
							<div class="col1">
								<div class="h_nav">
									<h4>Popular Brands</h4>
									<ul>
										<li><a href="/category/newlook">New look</a></li>
										<li><a href="/category/pull">Pull & Bear</a></li>
										<li><a href="/category/zara">Zara</a></li>
										<li><a href="/category/bershka">Bershka</a></li>
										<li><a href="/categorys/aldo">Aldo</a></li>
										<li><a href="/category/jack">Jack & Jones</a></li>
										<li><a href="/category/spring">Call it Spring</a></li>
									</ul>
								</div>
							</div>
						  </div>
						</div>
					</li>
				<li><a class="color6" href="#contact">About Us</a></li>
				<li><a class="color6" href="#contact">Blog</a></li>
				<li><a class="color6" href="#contact">Blog</a></li>
			  </ul>
			</div>

				<div class="clearfix"> </div>
		</div>
