
		<h1 style="font-family:Helvetica;"><b>New Trends</b></h1>
<% if(fashion){ %>
   <% fashion.forEach(function(fashion){ %>

		 <div class="col-md-4 grid-top">
           <a href="/fashion/item/<%= fashion._id %>" class="b-link-stripe b-animate-go  thickbox" style="height:340px">
           <div class="col-md-12"><img class="img-responsive" src="<%= fashion.photo %>" height="320" alt=""></div>
				<div class="b-wrapper">
					<h3 class="b-animate b-from-left    b-delay03 ">
            <span style="text-transform:capitalize;"><%= fashion.name %></span>
            <p>Ksh.<%= fashion.price %></p>
					</h3>
		    </div>
				  </a>
      </div>
   <% }); %>
<% } %>
