    <div class="container">
	  <div class="footer-top-at">
      <div class="col-md-2 amet-sed">
        <h4>Contact Us</h4>
             <p>FREE Deliveries Available Across East Africa.</p>
             <p>Call Now: 0795976711</p>
           </ul>
      </div>
		<div class="col-md-2 amet-sed">
			<h4>Support</h4>
			     <ul class="nav-bottom">
					 <li><a href="#" >Terms & Conditions</a></li>
					 <li><a href="#">Track my Order</a></li>
					 <li><a href="#">Delivery FAQ</a></li>
				 </ul>
		</div>
    <div class="col-md-3 amet-sed">
			<h4><b>Delivery</b></h4>
			    <!-- <ul class="nav-bottom"> -->
					 <p>Free delivery on orders above <b>$200</b></p>
					 <p>Express delivery charges <b>$20</b></p>
					 <p>Standard delivery charges <b>$10</b></p>
		</div>
		<div class="col-md-3 amet-sed">
			<h4><b>Newsletters</b></h4>
			<p>Sign Up to get all news update and promo</p>
			<form>
			 <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}" placeholder="Email"></br>
			</form>
		</div>
    <div class="col-md-2 amet-sed ">
			<h4><b>Be Social</b></h4>
				 <ul class="social">
           <li><a href="https://www.facebook.com/jenttman/?fref=ts"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="https://www.instagram.com/jenttman/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
				 </ul>
		</div>
		<div class="clearfix"> </div>
      </div>
	 </div>
<div class="footer-class">
	<p ><b>© 2017 Jenttman All Rights Reserved <a href="http://w3layouts.com/" target="_blank">W3layouts</a></b> </p>
</div>
