    <div class="container">
    <div class="row">
	  <div class="footer-top-at">
		<div class="col-md-3 amet-sed">
			<h4><a href="/term">Support</h4></a>
		</div>
       <div class="col-md-6 amet-sed">
			<h4>Free delivery on orders above $200</h4>
		</div>
      <div class="col-md-3 amet-sed">
        <h4><a href="/track">Track my Order</h4></a>
      </div>
		<div class="clearfix"> </div>
      </div>
      </div>
	 </div>
