
				<div class="container">
			<div class="footer-top-at">

				<div class="col-md-4 amet-sed">
				<h4>MORE INFO</h4>
				<ul class="nav-bottom">
						<li><a href="#">How to order</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="contact.html">Location</a></li>
						<li><a href="#">Shipping</a></li>
						<li><a href="#">Membership</a></li>
					</ul>
				</div>
				<div class="col-md-4 amet-sed ">
				<h4>CONTACT US</h4>

					<p>
Contrary to popular belief</p>
					<p>The Jenttman Online Shop</p>
					<p>office:  0795976711</p>
					<ul class="social">
						<li><a href="#"><i class="instagram"></i></a></li>
						<li><a href="#"><i class="twitter"> </i></a></li>
						<li><a href="https://www.facebook.com/jenttman/?fref=ts" target="_blank"><i class="facebook"> </i></a></li>
						<li><a href="#"><i class="gmail"> </i></a></li>

					</ul>
				</div>
				<div class="col-md-4 amet-sed">
					<h4>Newsletter</h4>
					<p>Sign Up to get all news update
and promo</p>
					<form>
						<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						<input type="submit" value="Sign up">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-class">
		<p ><b>© 2016 Jenttman All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a></b> </p>
		</div>
		
