<div class="row" style="margin-bottom:20px; padding:30px; background:#eceff1;">
	<h1 style="margin-bottom:8px; text-align:center; font-size:30px;">SIGN UP TO OUR NEWSLETTER</h1>
	<p style="margin:auto; text-align:center; font-size:13px;">Be the first to hear about our latest trends, offers and new arrivals</p>
	<div class="form-group col-sm-6 col-sm-offset-3">
		<form action="#" method="post" class="text-center">
			<input type="email" name="email" placeholder="Enter Email Address" class="form-control" style="margin-bottom:20px;">
			<input type="submit" name="submit" value="Submit" class="btn btn-primary">
		</form>
	</div>
</div>

<div class="row" style="margin-bottom:20px; padding:20px;">
			   <ul class="social text-center">
           <li><a href="https://www.facebook.com/jenttman/?fref=ts"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="https://www.twitter.com/jenttman/?fref=ts"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="https://www.pinterest.com/jenttman/?fref=ts"><i class="fa fa-pinterest fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="https://www.instagram.com/jenttman/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="https://www.youtube.com/jenttman/?fref=ts"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="https://www.gmail.com/jenttman/"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="/blog"><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></a></li>
				 </ul>
</div>

<div class="row">

<div class="footer-class">
	<p ><b>© 2017 Jenttman All Rights Reserved <a href="http://w3layouts.com/" target="_blank">W3layouts</a></b> </p>
</div>

</div>