<div class="row" style="margin-bottom:20px; padding:30px; background:#eceff1;">
	<h1 style="margin-bottom:8px; text-align:center; font-size:30px;">SIGN UP TO OUR NEWSLETTER</h1>
	<p style="margin:auto; text-align:center; font-size:13px;">Be the first to hear about our latest trends, offers and new arrivals</p>
	<div class="form-group col-sm-6 col-sm-offset-3">
		<form action="#" method="post" class="text-center">
			<input type="email" name="email" placeholder="Enter Email Address" class="form-control" style="margin-bottom:20px;">
			<input type="submit" name="submit" value="Submit" class="btn btn-primary">
		</form>
	</div>
</div>

</div>