<div class="row" style="margin-bottom:20px; padding:20px;">
			   <ul class="social text-center">
           <li><a href="https://www.facebook.com/jenttman/?fref=ts"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="https://www.twitter.com/jenttman/?fref=ts"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="https://www.pinterest.com/jenttman/?fref=ts"><i class="fa fa-pinterest fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="https://www.instagram.com/jenttman/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="https://www.youtube.com/jenttman/?fref=ts"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="https://www.gmail.com/jenttman/"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
           <li><a href="/blog"><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></a></li>
				 </ul>
</div>

<div class="row">

<div class="footer-class">
	<p ><b>© 2017 Jenttman All Rights Reserved <a href="http://w3layouts.com/" target="_blank">W3layouts</a></b> </p>
</div>