
		<div class="container">
			<div class="search">
					<form>
						<form action="/" method="post">
						<input type="text" value="Search " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
						<input type="submit" value="Go">
					</form>
			</div>
			<div class="header-left">
					<ul>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">register </a></li>

					</ul>
					<div class="cart box_1">
<<<<<<< HEAD
						<a href="checkout.html">
						<h3>
							<img src="images/cart.png" alt=""/></h3>
						</a>
=======
						<a href="/fashion/checkout">
						<h3> <div class="total">
							<span class="myCart_total"></span> (<span id="myCart_quantity" class="myCart_quantity"></span> items)</div>
							<img src="images/cart.png" alt=""/></h3>
						</a>
						<p><span class="simpleCart_empty" role="button" style="color:white"> Empty Cart </span></p>

>>>>>>> ce208f39b2897993daeebe20ff2c0e192e319fdc
					</div>
					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
    	</div>
		<div id="login" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    </div>
