
		<div class="container">
		<!--	<div class="search">
					<form>
						<form action="/" method="post">
						<input type="text" value="Search " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
						<input type="submit" value="Go">
					</form>
			</div> -->
			<div class="header-left">
					<ul>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Register </a></li>
					</ul>
					<div class="cart box_1">
						<a href="/fashion/checkout">
						<h3> <div class="total">
                <% if(session.cart){%>
                <span class="total"></span><%= session.cart.totalQty %><span id="quantity" class="quantity"></span> Items-Ksh <%= session.cart.totalPrice %></div>
              <% }else{ %>
                <span class="total"></span><span id="quantity" class="quantity"></span> Items 0</div>
          <%}%>
							<img src="images/cart.png" alt=""/></h3>
			</a>
			<p><a href="/session/cart/delete" role="button" style="color:white"> Empty Cart </a></p>

		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="clearfix"> </div>
</div>
<div id="login" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
</div>
