
		<div class="container">
			<div class="search">
					<form>
						<form action="/" method="post">
						<input type="text" value="Search " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
						<input type="submit" value="Go">
					</form>
			</div>
			<div class="header-left">
					<ul>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">register </a></li>

					</ul>
					<div class="cart box_1">
						<a href="checkout.html">
						<h3>
							<img src="images/cart.png" alt=""/></h3>
						</a>
					</div>
					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
    	</div>
		<div id="login" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    </div>
