<!DOCTYPE html>
<html>
<body>
<div class=" container">
		  	  <form  action="/admin/category/add" method="post"> 
        <div>
              <span>Name</span>
            <input type="text" required class="form-control" id="Name" name="category"/>
           </div>
           <div>
               <button class="large button success right">Add Category</button>
           </div>
           </div>
           </form>
           </body>
</html>
