<html>
  <body>
    <% if(fashion){ %>
      <ul>
        <li><%= fashion.name %></li>
        <li><%= fashion.brand %></li>
        <li><%= fashion.desc %></li>
      </ul> 
      <% } %>
  </body>
</html>
