<% layout('/dashboard/index') %>
<body>
<div class=" container">
          <form id="Fashion-form" action="/admin/fashion/add" method="post"> 
              <div class="col-lg-6">
                <div>
                  <span>category</span>
                  <select name="category">
                    <% for(var i=0; i<category.length; i++){ %> 
                      <option value="<%= category[i].name %>"><%= category[i].name %></option>
                    <% } %>
                  </select>
            <div>
               <span>Name</span> 
                <input type="text" required class="form-control" id="Name" name="name"/>
           </div>
           <div>
              <span>brands</span>
              <input type="text" required class="form-control" id="Brand" name="brand"/> 
           </div>
           <div>
              <span>Description</span>
            <input type="text" required class="form-control" id="Desc" name="desc"/>
           </div>
           <div>
            <!--<input type="submit" value="submit">-->
             <button class="large button success right">Add</button>
           </div>
           <div class="clearfix"> </div>
        </form>
       <div class="large-6 columns">
      <!-- Create event button section -->
      <a class="large button success right " href="/admin/fashions">Dashboard</a>
      <!-- create event button section ends -->
    </div>
</div>
</body>
</html>
      
