<% layout('admin/dashboard') -%>
    <div class=" container">
<!--inner block start here-->
<div class="inner-block">
    <div class="inbox">
        <h2>Fashions</h2>
       <div class="col-md-4 compose">       
        <div class="mail-profile">
          <div class="mail-pic">
            <a href="#"><img src="images/b3.png" alt=""></a>
          </div>
          <div class="mailer-name">       
              <h5><a href="#">Jentttman</a></h5>            
                 <h6><a href="mailto:info@example.com">jenttman@gmail.com</a></h6>   
          </div>
            <div class="clearfix"> </div>
        </div>
        <div class="compose-bottom">
          <ul>
            <li><a class="hilate" href="#"><i class="fa fa-inbox"> </i>Inbox</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"> </i>Sent Mail</a></li>
            <li><a href="#"><i class="fa fa-star-o"> </i>Important</a></li>
            <li><a href="#"><i class="fa fa-pencil-square-o"> </i>Drafts</a></li>
            <li><a href="#"><i class="fa fa-trash-o"> </i>Trash</a></li>
          </ul>
        </div>
       </div>      
        <div class="col-md-8 compose-right">
          <div class="inbox-details-default">
            <div class="inbox-details-heading">
              Add  Category 
            </div>
            <div class="inbox-details-body">
                 <form id="Fashion-form" action="/admin/fashion/add" method="post" enctype="multipart/form-data"> 
            <div class = "alert alert-success alert-dismissable">
   <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
      &times;
   </button>
  Please fill details to add new fashion
</div>
              <div class="col-md-3">
                  <span>category</span>
                  </div>
                  <div class="col-md-9">
                  <select name="category">
                    <% for(var i=0; i<category.length; i++){ %> 
                      <option value="<%= category[i].name %>"><%= category[i].name %></option>
                    <% } %>
                  </select>
                  </div>
                    <div class="clearfix"></div>
            <div class="col-md-3">
               <span>Name</span>
               </div>
               <div class="col-md-9"> 
                <input type="text" required class="form-control" id="Name" name="name"/>
           </div>
           <div class="col-md-3">
              <span>brands</span>
              </div>
              <div class="col-md-9">
              <input type="text" required class="form-control" id="Brand" name="brand"/> 
              </div>
          <div class="col-md-3">
              <span>Description</span>
              </div>
              <div class="col-md-9">
            <input type="text" required class="form-control" id="Desc" name="desc"/>
           </div>
           <div class="col-md-3">
              <span>Photo upload</span>
              </div>
              <div class="col-md-9">
            <input type="file" required class="form-control" id="upload" name="upload"/>
           </div>

           <div class="col-md-6">
            <!--<input type="submit" value="submit">-->
             <button class="large button success right">Add</button>
           </div>
           <div class="clearfix"> </div>
    
    </form>
            </div>
          </div>
        </div>
      
          <div class="clearfix"> </div>     
   </div>
</div>
</div>
<!--inner block end here-->

