<% layout('pages/navlayout') -%>
<!--content-->
<div class="about">
<div class="container">
<div class="image">
	<img src="/images/pix3.jpeg" alt="" height="490px" width="1000px">
</div>
	<h1 class="align-center">About Us</h1>
<p>"Sophisticated, fun and original, Jenttman offers a totally unique online retail experience exclusively for the gentleman in Africa.Founded in 2016, Jenttman is growing into a brand that stirs digital innovation within the region through an independent spirit by inspiring its fashion-loving customer to experiment with style.Our vast product mix includes exclusive collections from globally recognised brands, carefully curated for a style-obsessed following.Through our local and international sourcing we focus on delivering all the latest trends to your doorstep, whenever you want them."</p>
		 <div class="clearfix"> </div>
		</div>
  </div>
<!--//content-->
