<% layout('pages/indexlayout') -%>
<!--content-->
<div class="container ">
		<div class="account jumbotron">
		<div class="account-pass">

    <div class="col-md-8 account-top">
        <h2>BILLING DETAILS</h2>
			<form action="/billing" method="post">
			<div>
				<span class="col-sm-2"><b>First Name</b></span>
        <div class="col-sm-10">
				<input type="text" name="fname" required="required">
			</div>
      </div>
			<div>
				<span class="col-sm-2"><b>Last Name</b></span>
        <div class="col-sm-10">
				<input type="text" name="lname" required="required">
			</div>
      </div>
      <div>
        <span class="col-sm-2"><b>Company Name</b></span>
        <div class="col-sm-10">
        <input type="text" name="companyname" required="required">
      </div>
      </div>
      <div>
        <span class="col-sm-2"><b>Email</b></span>
        <div class="col-sm-10">
        <input type="text" name="email" required="required">
      </div>
      </div>
      <div>
        <span class="col-sm-2"><b>Country</b></span>
        <div class="col-sm-10">
        <input type="text" name="country" required="required">
      </div>
      </div>
      <div>
        <span class="col-sm-2"><b>Postal Address</b></span>
        <div class="col-sm-10">
        <input type="text" name="address" required="required">
      </div>
      </div>
            <div>
        <span class="col-sm-2"><b>Town/city</b></span>
        <div class="col-sm-10">
        <input type="text" name="town" required="required">
      </div>
      </div>
      <div>
            <div>
        <span class="col-sm-2"><b>State/County</b></span>
        <div class="col-sm-10">
        <input type="text" name="county" required="required">
      </div>
      </div>
                  <div>
        <span class="col-sm-2"><b>Postalcode/Zip</b></span>
        <div class="col-sm-10">
        <input type="text" name="postalcode" required="required">
      </div>
      </div>
      <div>
      <input type="submit" value="submit">
      </div>
			</form>

</div>

</div>


	<div class="clearfix"> </div>
</div>
</div>
</div>
<!--//content-->
