         <% layout('pages/indexlayout') -%>
<!--content-->
<div class="container ">
		<div class="account">
		<div class="account-pass">

    <div class="col-md-6 account-top">
			<form action="/billing" method="post">

    <div class="col-md-12">
				<div class="form-group col-md-6">
	      <label for="billing_first_name">First Name</label>
	         <input type="text" class="form-control" name="fname" placeholder="First name">
         </div>
         <div class="form-group col-md-6">
	         <label for="billing_second_name">Second Name</label>
	         <input type="text" class="form-control" name="lname" placeholder="Last name">
         </div>
    </div>



    <div class="col-md-12">
			<div class="form-group col-md-6">
			<label for="billing_first_name" class="">Email Address:*</label>
			<input type="text" class="form-control" name="email" required="required">
		</div>
		<div class="form-group col-md-6">
		<label for="billing_first_name" class="">Phone Number</label>
		<input type="text" class="form-control" name="number" required="required">
	</div>
</div>

<div class="col-md-12">
    <div class="form-group col-md-6">
       <label for="billing_first_name" class="">Company</label>
       <input type="text" class="form-control" name="companyname" placeholder="Company">
    </div>
		<div class="form-group col-md-6">
		   <label for="billing_first_name" class="">Country</label>
       <select class="mdb-select colorful-select dropdown-primary">
          <option value="1">Kenya</option>
          <option value="2">Tanzania</option>
          <option value="3">Uganda</option>
       </select>
	  </div>
  </div>

<div class="col-md-12">
		<div class="form-group col-md-6">
			<label for="billing_first_name" class="">Postal Address</label>
			<input type="text" class="form-control" name="address" required="required">
		</div>
					<div class="form-group col-md-6">
				<label for="billing_first_name" class="">Town/city:*</label>
			<input type="text" class="form-control" name="town" required="required">
		</div>
  </div>

<div class="col-md-12">
			<div class="form-group col-md-6">
			<label for="billing_first_name" class="">State/County:*</label>
			<input type="text" class="form-control" name="county" required="required">
		</div>
			<div class="form-group col-md-6">
			<label for="billing_first_name" class="">Postalcode/Zip:*</label>
			<input type="text" class="form-control" name="postalcode" required="required">
		</div>
</div>
	<div class="col-md-12">
		<input type="submit" value="submit">
		</div>
		</form>
</div>
</div>


  <div class="col-md-6 account-top">
	</div>

	<div class="clearfix"> </div>
</div>
</div>
</div>
<!--//content-->
