<% layout('pages/indexlayout') -%>
<!--content-->
<div class="contact">
			<div class="container">
				<h1>Contact</h1>
			<div class="contact-form">
			<div class="col-md-2 contact-grid">
			</div>
				<div class="col-md-8 contact-grid">
					<form method="post" action="/mailer">	
						<input type="text" placeholder="Enter your Name" name="names">
            <input type="text" placeholder="Enter Email" name="email"> 
            <input type="text" placeholder="Subject" name="subject"> 
						<textarea cols="77" rows="6" name="message" placeholder="Enter a pretty long boring message"></textarea>
						<div class="send">
							<input type="submit" value="Send">
						</div>
					</form>
				</div>
			<div class="col-md-2 contact-grid">
			</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		
	</div>
<!--//content-->
