<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<!-- Include main header into page -->
<% include ../mainpartials/mast-head %>
<!-- Main header ends here -->
<body>
<!--header-->
<div class="header">
	<div class="header-top">
  <!-- top-head for class header-top --> 
  <% include ../mainpartials/top-head %>
  <!-- top-head ends here -->
  </div>
		<div class="container">
      <!-- bottom section of the header -->
      <% include ../mainpartials/bott-head %>
      <!-- bottom section for header ends here -->
    </div>

	</div>
  <%- body %>
  
  <div class="content-bottom">
    <!-- bottom content -->
    <% include ../mainpartials/bottom-content %>
    <!-- ends bottom content -->
  </div>

  <div class="footer" id="contact">
  <!-- footer section -->
  <% include ../mainpartials/footer %>
  <!-- footer section ends -->
</div>
<div>
</div>
</body>
</html>
