<% layout('pages/indexlayout') -%>
	<div class="banner">
    <!-- banner include -->
    <% include ../mainpartials/banner %>
    <!-- banner include ends -->
  </div>

<!--content-->
<div class="content">
	<div class="container">
	<div class="content-top">
    <!-- content top for new items in the market -->
    <% include ../mainpartials/content-top %>
    <!-- content top ends -->
  </div>
	<!----->

	</div>
	<!---->
	</div>

