<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<!-- Include main header into page -->
<% include ../mainpartials/mast-head %>
<!-- Main header ends here -->
<body>
<!--header-->
<div class="header">
	<div class="header-top">
  <!-- top-head for class header-top --> 
  <% include ../mainpartials/top-head %>
  <!-- top-head ends here -->
  </div>
		<div class="container">
      <!-- bottom section of the header -->
      <% include ../mainpartials/bott-head %>
      <!-- bottom section for header ends here -->
    </div>

	</div>

	<div class="banner">
    <!-- banner include -->
    <% include ../mainpartials/banner %>
    <!-- banner include ends -->
  </div>

<!--content-->
<div class="content">
	<div class="container">
	<div class="content-top">
    <!-- content top for new items in the market -->
    <% include ../mainpartials/content-top %>
    <!-- content top ends -->
  </div>
	<!----->

	<div class="content-top-bottom">
    <!-- include content middle -->
    <% include ../mainpartials/middle-content %>
    <!-- middle content ends here -->
  </div>
	</div>
	<!---->
	<div class="content-bottom">
    <!-- bottom content -->
    <% include ../mainpartials/bottom-content %>
    <!-- ends bottom content -->
  </div>
</div>
<div class="footer">
  <!-- footer section -->
  <% include ../mainpartials/footer %>
  <!-- footer section ends -->
</div>
<div>
  <!-- footer script for foundation javascript -->
  <% include ../mainpartials/scripts %>
  <!-- footer scripts end here -->
</div>
</body>
</html>
