<% layout('pages/indexlayout') -%>
<!--content-->
<div class="container">
		<div class="account">
		<h1>Account</h1>
		<div class="account-pass">
		<div class="col-md-8 account-top">
			<form action="/login" method="post">
			<div>
				<span>Username</span>
				<input type="text" name="email">
			</div>
			<div>
				<span >Password</span>
				<input type="password" name="password">
			</div>
				<input type="submit" value="Login">
			</form>
		</div>
		<div class="col-md-4 left-account ">
			<a href="single.html"><img class="img-responsive " src="images/s1.jpg" alt=""></a>
			<div class="five">
			<h2>25% </h2><span>discount</span>
			</div>
			<a href="/register" class="create">Create an account</a>
<div class="clearfix"> </div>
		</div>
	<div class="clearfix"> </div>
</div>
</div>
</div>
<!--//content-->
