<% layout('pages/indexlayout') -%>
<!--content-->
<div class="container">
    <div class="account">
    <div class="account-pass">
<div class="col-md-6 account-top">
        <h2>Delivery details</h2>
      <form action="/login" method="post">
      <div>
        <span class="col-sm-2">Full Name</span>
        <div class="col-sm-10">
        <input type="text" name="username" required="required">
      </div>
      </div>
      <div>
        <span class="col-sm-2">Email</span>
        <div class="col-sm-10">
        <input type="text" name="email" required="required">
      </div>
      </div>
      <div>
        <span class="col-sm-2">Phone Number</span>
        <div class="col-sm-10">
        <input type="text" name="phonenumber" required="required">
      </div>
      </div>
      <div>
        <span class="col-sm-2">Location</span>
        <div class="col-sm-10">
        <input type="text" name="location" required="required">
      </div>
      </div>
      <div>
        <span class="col-sm-2">Postal Address</span>
        <div class="col-sm-10">
        <input type="text" name="address" required="required">
      </div>
      </div>
      </form>
    </div>

    <div class="logo">
      <a href="/paypal/:id"><img src="images/mpesa.jpg" alt=""></a>
     </div>
    <div class="col-md-6 account-top ">
        <form action="/" method="post" >
          <div>
        <span class="col-sm-2">Amount :</span>
        <div class="col-sm-10">
          <input type="text" name="amount" placeholder="Enter Amount" required="required" value="<%= totalPrice %>">
        </div>
      </div>
      <div>
        <span class="col-sm-2">Paybill:</span>
        <div class="col-sm-10">
          <input type="text" name="currency" placeholder="Enter Currency Type" value="232345" required="required">
        </div>
    </div>
           <input type="submit" class="btn large button success right" value="Pay Now">

    </form>
    </div>


  <div class="clearfix"> </div>
</div>
</div>
</div>
<!--//content-->
