<% layout('pages/indexlayout') -%>
<!--content-->
<div class="container">
    <div class="account jumbotron">
    <div class="account-pass">
      <div class ="row">

    <div class="col-md-6 account-top ">
      <div class="logo">
        <a href="/paypal/:id"><img src="images/mpesa.jpg" alt=""></a>
      </div>
        <form action="/" method="post" ></br></br>
          <div>
        <div>
          <input type="hidden" name="amount" placeholder="Enter Amount" required="required" value="<%= totalPrice %>">
        </div>
      </div>
      <div>
        <p> To make payment, follow steps below.</p>
        <ol>
             <li>Go to your mpesa menu.</li>
             <li>Select Lipa na mpesa.</li>
             <li>Select Paybill.</li>
             <li>Enter Business Number .</li>
             <li>Enter account number Jenttman .</li>
             <li>Enter amount  .</li>
             <li>Enter your mpesa pin and click Ok.</li>
        <ol>
    </div>

        <div class="alert alert-success">
          <p>You will receive an email once your transaction is successful</p>
       </div>

    </form>
    </div>

    <div class="col-md-6 account-top ">
      <div class="logo col-sm-12">
      <a href="#"><img src="images/paypal1.jpg" alt=""></a>
     </div>
        <form action="/paynow/:id" method="post" >
          <div>
        <div >
          <input type="hidden" name="amount" placeholder="Enter Amount" required="required" value="<%= totalPrice %>">
        </div>
      </div>
      <div>
        <div class="col-sm-10">
          <input type="hidden" name="currency" placeholder="Enter Currency Type" value="USD" required="required">
        </div>
    </div>
    <div class="col-sm-12">
           <input type="submit" class="btn large button success right" value="Pay Now">
</div>
    </form>

      <div class="logo col-sm-12">
        <a href="#"><img src="images/equity.jpg" alt=""></a>
          </div>
        <div class="logo col-sm-12">
          <a href="#"><img src="images/airtel.jpg" alt=""></a>
            </div>
          <div class="logo col-sm-12">
            <a href="#"><img src="images/orange.jpg" alt=""></a>
      </div>
    </div>

  </div>
</div>
</div>
</div>
<!--//content-->
