<% layout('pages/indexlayout') -%>
<!--content-->
<div class=" container">
<div class=" register">
		  	  <form action="/signup" method="post">
            <% if(errors.length>0){ %>
              <% for(var i=0; i<errors.length; i++){ %>
                <p><%= errors[i].msg %></p>
              <% } %>
            <% } %>
            <% if(message.length>0){ %>
              <% for(var i=0; i<message.length; i++){ %>
                <p><%= message[i] %></p>
              <% } %>
            <% } %>
				 <div class="col-md-6 col-md-offset-3 register-top-grid">
					<h3>Personal Infomation</h3>
					 <div class="form-group">
						<label for="fname">First Name:</label>
						<input class="form-control"  type="text" name="fname">
					 </div>
					 <div class="form-group">
						<label for="lname">Last Name:</label>
						<input class="form-control" type="text" name="lname">
					 </div>
					 <div class="form-group">
						 <label for="uname">Username:</label>
						 <input class="form-control" type="text" name="username">
					 </div>
					 <div class="form-group">
						 <label for="email">Email Address:</label>
						 <input class="form-control" type="text" name="email">
					 </div>
					 <div class="form-group">
						<label for="pass">Password:</label>
						<input class="form-control" type="password" name="password">
					 </div>
					 <div class="form-group">
						<label for="pass2">Confirm Password:</label>
						<input class="form-control" type="password" name="password2">
					 </div>
					 <div>
					 <a class="news-letter" href="#">
				 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label>
				 </a>
					 </div>
					 <button class="btn btn-primary"> Submit </button>
					 </div>
					 <div class="clearfix"> </div>
				</form>
			</div>
</div>
<!--//content-->
