<% layout('pages/navlayout') -%>
<!--content-->
<div class="terms">
<div class="container">

	<section>
		<div class= "container">
			<h2> Frequently Asked Questions </h2>
		<div class="panel-group" id="faqAccordion">
				<div class="panel panel-default ">
						<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
								 <h4 class="panel-title">
										<a href="#" class="ing">Q: What does Jenttmen mean?</a>
							</h4>
						</div>
						<div id="question0" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
										 <h6><span class="label label-default">Answer</span></h6>

										<p>This is a word we created to represent gentlemen which are our core targets
											</p>
								</div>
						</div>
				</div>
				<div class="panel panel-default ">
						<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
								 <h4 class="panel-title">
										<a href="#" class="ing">Q: How long does shipment take? </a>
							</h4>

						</div>
						<div id="question1" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
										 <h6><span class="label label-default">Answer</span></h6>

										<p>Generally takes between <b>2-4weeks</b> . We are constantly working on reducing this to <b>1 week.</b> </p>
								</div>
						</div>
				</div>
				<div class="panel panel-default ">
						<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
								 <h4 class="panel-title">
										<a href="#" class="ing">Q: Which countries are you actively selling?</a>
							</h4>

						</div>
						<div id="question2" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
										 <h6><span class="label label-default">Answer</span></h6>

										<p>We are currently present in <b>Kenya</b> , <b>Tanzania</b> and <b>Uganda</b>. Our business is rapidly expanding to other regions. </p>
								</div>
						</div>
				</div>
				<div class="panel panel-default ">
						<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
								 <h4 class="panel-title">
										<a href="#" class="ing">Q: How can Jenttmen guaranty their products  are quality?</a>
							</h4>

						</div>
						<div id="question3" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
										 <h6><span class="label label-default">Answer</span></h6>

										<p>We buy directly from the suppliers and only use 3rd parties when this is impossible. </p>
						</div>
				</div>
		</div>

		<div class="panel panel-default ">
				<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
						 <h4 class="panel-title">
								<a href="#" class="ing">Q: How can I find out more about Jenttmen ?</a>
					</h4>

				</div>
				<div id="question3" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body">
								 <h6><span class="label label-default">Answer</span></h6>

								<p>You can go to our information page or simply send us a message on one of our social media platforms.</p>
				</div>
		</div>
	</div>

	<div class="panel panel-default ">
			<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
					 <h4 class="panel-title">
							<a href="#" class="ing">Q: How do I make bulk orders?</a>
				</h4>

			</div>
			<div id="question3" class="panel-collapse collapse" style="height: 0px;">
					<div class="panel-body">
							 <h6><span class="label label-default">Answer</span></h6>

							<p>Send us a note on social media and we will get back to you for discussions. </p>
			</div>
	</div>
	</div>

	<div class="panel panel-default ">
			<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
					 <h4 class="panel-title">
							<a href="#" class="ing">Q: How do I ensure my size fits ?</a>
				</h4>

			</div>
			<div id="question3" class="panel-collapse collapse" style="height: 0px;">
					<div class="panel-body">
							 <h6><span class="label label-default">Answer</span></h6>

							<p> Please see the size guide on (insert size guide link here) </p>
			</div>
	</div>
	</div>
		<!--/panel-group-->
	</div>

					<div class="clearfix"> </div>
			</div>

	</section>

	<section>
		<div class="container">

			<b><h2>Terms & Condtions </h2></b>

			<p>By using Jenttmen web site you agree to be subject to these terms and conditions , which shall take effect immediately on your first use of Jenttmen web site. If you do not agree to be bound by all of the following terms please do not access or use this site.</p>

			<p>Jenttmen may change these terms from time to time and so you should check these terms regularly. Your continued use of this web site will be deemed acceptance of the updated or amended terms. If you do not agree to the changes, you should cease using this website. If there is any conflict between these terms and specific local terms appearing elsewhere on Jenttmen web site (including house rules) then the latter shall prevail.</p>

			<h3>1.Use of Jenttmen website</h3>
			<p>You agree to use Jenttmen web site only for lawful purposes, and in a way that does not infringe the rights of, restrict or inhibit anyone else’s use and enjoyment of Jenttmen web site. Prohibited behaviour includes harassing or causing distress or inconvenience to any person, transmitting obscene or offensive content or disrupting the normal flow of dialogue within Jenttmen web site.</p>

			<h3>2.Intellectual Property</h3>
			<p>All copyright, trade marks, design rights, patents and other intellectual property rights (registered and unregistered) in and on Jenttmen web site and all content (including all applications) located on the site shall remain vested in Jenttmen or its licensors (which includes other users). You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, download, post, broadcast, transmit, make available to the public, or otherwise use Jenttmen web site content in any way except for your own personal, non-commercial use. You also agree not to adapt, alter or create a derivative work from Jenttmen web site content except for your own personal, non-commercial use. Any other use of Jenttmen web site content requires the prior written permission from Jenttmen.</p>

			<p>The names, images and logos identifying Jenttmen or third parties and their products and services are subject to copyright, design rights and trade marks of Jenttmen and/or third parties. Nothing contained in these terms shall be construed as conferring any license or right to use any trade mark, design right or copyright of Jenttmen, or any other third party.</p>

			<h3>3.Disclaimers and Limitation of Liability</h3>
			<p>Jenttmen web site content, including the information, names, images, pictures, logos and icons regarding or relating to Jenttmen, its products and services (or to third party products and services), is provided “AS IS” and on an “AS AVAILABLE” basis. To the extent permitted by Kenya law, Jenttmen excludes all representations and warranties (whether express or implied by law), including the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy. Jenttmen does not guarantee the timeliness, completeness or performance of the website or any of the content. While we try to ensure that all content provided by Jenttmen is correct at the time of publication no responsibility is accepted by or on behalf of Jenttmen for any errors, omissions or inaccurate content on the website.</p>

			<p>Jenttmen shall not be liable for any of losses or damage (whether such damage or losses were foreseen, foreseeable, known or otherwise)including; (a) loss of data; (b) loss of revenue or anticipated profits; (c) loss of business; (d) loss of opportunity; (e) loss of goodwill or injury to reputation; (f) losses suffered by third parties; or (g) any indirect, consequential, special or exemplary damages arising from the use of Jenttmen web site regardless of the form of action.</p>

			<p>Jenttmen do not warrant that functions available on Jenttmen web site will be uninterrupted or error free, that defects will be corrected, or that Jenttmen web services or the server that makes it available are free of viruses or bugs. You acknowledge that it is your responsibility to implement sufficient procedures and virus checks (including anti-virus and other security checks) to satisfy your particular requirements for the accuracy of data input and output.</p>

			<h3>4.Indemnity</h3>
			<p>You agree to defend, indemnify and hold harmless Jenttmen, and any other party involved in creating, producing or delivering this website, and their respective officers, employees, agents, shareholders, licensors and representatives, from and against all claims, losses, costs and expenses (including without limitation lawyers’ fees) arising out of (a) your use of, or activities in connection with this website,; (b) any violation of these terms of use by you; or (c) any allegation that any submission or user content that you make available or create through this website, infringes or otherwise violates the copyright, trademark, trade secret, privacy or other intellectual property or other rights of any third party.</p>

			<h3>5.Termination</h3>
			<p>You agree that Jenttmen, in its sole discretion, may terminate your access to or use of the website, at any time and for any reason, including without limitation if Jenttmen believes that you have violated or acted inconsistently with the letter or spirit of these terms of use. Upon any such termination, your right to use the website will immediately cease. You agree that any termination of your access to or use of the website may be effected without prior notice. You agree that Jenttmen will not be liable to you or any third party for any termination of your access to this website or to any such information or files provided to this website, nor will it be required to make such information or files available to you after any such termination.</p>

			<h3>6.Modifications to the Website</h3>
			<p>Jenttmen reserves the right, at any time and from time to time, temporarily or permanently, in whole or in part, to: modify or discontinue the website, with or without notice; limit the Site’s availability to any person, geographic area or jurisdiction we choose; and/or offer opportunities to some or all users of the Site. You agree that neither we nor any affiliated entity shall be liable to you or to any third party for any modification, suspension or discontinuance of the website, in whole or in part, or of any service, software, content, submission, feature or product offered through the website. Your continued use of this website after such changes will indicate your acceptance of such changes.</p>

			<h3>7.General</h3>
			<p>If any of these terms are determined to be illegal, invalid or otherwise unenforceable by reason of the laws of any state or country in which these terms are intended to be effective, then to the extent and within the jurisdiction in which that term is illegal, invalid or unenforceable, it shall be severed and deleted from these terms and the remaining terms shall survive and continue to be binding and enforceable.</p>
			<p>The failure or delay of Jenttmen to exercise or enforce any right in these terms does not waive Jenttmen right to enforce that right.</p>
			<p>These terms shall be governed by and interpreted in accordance with the Kenyan Law which shall have exclusive jurisdiction over any disputes.</p>

		</div>
	</section>

	<section>
		<div class="container">

			<b><h2>Return Policy & Payment Terms/Policy </h2></b>

			<h3>1.Items Eligible for returns </h3>
			<p>Customers may return items within 5 days of receiving the product. Returned products must be unused.  To arrange a return please visit our “Contact us” page and send us a direct message</p>

			<h3>2.Replacements & Exchanges </h3>
			<p>We ensure that only the highest quality products are shipped to customers, If you received a damaged/defective item , a replacement with the exact same item will be shipped.</p>

			<h3>3.Payment Terms </h3>
			<p>Different modes of payment can be used as highlighted below ;
				<li>Debit/Credit card payment</li>
				<li>MPESA</li>
				<li>Cash on delivery </li>
			</p>
			<p><b>NOTE:</b> Full payment will be required before item handover</p>

			<h3>4.Refunds</h3>
				<p>Items bought can only be replaced with another item only if the item received is defective. Please visit our contact us page to arrange replacement.</p>
		</div>
	</section>


  </div>
</div>
<!--//content-->
