<footer id="about">
  <div class="footer-top">
    <div class="wrapper">
      <div class="row collapse">
        <div class="footer-top-container">
          <div class="large-2 medium-12 small-12 columns">
            <a href="#" class="logo" title="fashion"><span>jenttman</span></a>
          </div>
            <div class="small-4 medium-4 columns">
              <input type="submit" href="#" class="postfix button" value="Sign Up">
            </div>
          </div>
        </form>
        <div class="footer-social">
          <ul class="social-links">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">
        Copyright &copy; 2017 <a href="#" title="jenttman">Jenttman</a>. All rights reserved.<br>
        Use of this site indicates your acceptance of these <a href="/terms/">Terms of Use</a>. View our <a href="/privacy/">Privacy Policy</a>.
      </p>
    </footer>
  </div>
</footer>
