<!--slider menu-->
    <div class="sidebar-menu">
		  	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span> 
			      <!--<img id="logo" src="" alt="Logo"/>--> 
			  </a> </div>		  
		    <div class="menu">
		      <ul id="menu" >
		        <li id="menu-home" ><a href="/admin/fashions"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>

		        <li><a href="#"><i class="fa fa-cogs"></i><span class="fa fa-angle-right" style="float: right"></span><span>Categories</span></a>
		          <ul class="clear:both;">
		            <li><a href="/admin/category/create">Add</a></li>
		            <li><a href="/admin/category/index">Available</a></li>		            
		          </ul>
		        </li>

		        <li><a href="#"><i class="fa fa-cogs"></i><span class="fa fa-angle-right" style="float: right"></span><span>Fashions</span></a>
		          <ul>
		            <li><a href="/admin/fashion/create">Add</a></li>
		            <li><a href="/admin/fashions">Available</a></li>		            
		          </ul>
		        </li>

		        <li id="menu-comunicacao" ><a href="#"><i class="fa fa-book nav_icon"></i><span class="fa fa-angle-right" style="float: right"></span><span>Orders</span></a>
		          <ul id="menu-comunicacao-sub" >
		            <li id="menu-mensagens" style="width: 120px" ><a href="/new">New</a>		              
		            </li>
		            <li id="menu-arquivos" ><a href="/sold">Sold</a></li>
		            <li id="menu-arquivos" ><a href="/awaiting">Awaiting</a></li>
		          </ul>
		        </li>

		          <li><a href="maps.html"><i class="fa fa-map-marker"></i><span>Maps</span></a></li>

		        <li><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Charts</span></a></li>
		        <li><a href="#"><i class="fa fa-envelope"></i><span class="fa fa-angle-right" style="float: right"></span><span>Mailbox</span></a>
		        	 <ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="#">Inbox</a></li>
			            <li id="menu-academico-boletim" ><a href="#">Compose email</a></li>
		             </ul>
		        </li>

		        <li><a href="#"><i class="fa fa-envelope"></i><span class="fa fa-angle-right" style="float: right"></span><span>Blog</span></a>
		        	 <ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="/admin/blog/create">New</a></li>
			            <li id="menu-academico-boletim" ><a href="/admin/blog/index">Posted</a></li>
		             </ul>
		        </li>

		         <li><a href="#"><i class="fa fa-shopping-cart"></i><span class="fa fa-angle-right" style="float: right"></span><span>Sales</span></a>
		         	<ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="/admin/product">Products</a></li>
		             </ul>
		         </li>

		      </ul>
		    </div>
	 </div>
	<div class="clearfix"> </div>
</div>
<!--slide bar menu end here-->
